<h1>Bem Vindo a Clinica</h1>
<hr />
<form (submit)="adicionarCliente()"> <!-- Event Binding para Criação dos usuarios e adicionar na tabela -->
  <label>Nome:</label>
  <input type="text" [(ngModel)]="nomeCliente" name="nomeCliente" required/> <!--Utilização do Two-way para armazenar  os valores-->
  <br/>
  <label>Email:</label>
  <input type="text" [(ngModel)]="email" name="email" required/><!--Utilização do Two-way para armazenar  os valores-->
  <br/>
  <label>Telefone:</label>
  <input type="text" [(ngModel)]="telefone" name="telefone" required/><!--Utilização do Two-way para armazenar  os valores-->
  <br/>
  <label>Data de Cadastro:</label>
  <input type="date" [(ngModel)]="dataCadastro" name="dataCadastro" required/><!--Utilização do Two-way para armazenar  os valores-->
  <br/>
  <button type="submit">Adicionar o Cliente</button>
</form>

<hr/>

<h2>Lista de Clientes</h2>

<div *ngFor = "let cliente of clientes" ><!--ngFor serve para pecorrer a determinada lista e mostra seus valores -->
  <h3>{{cliente.nome}}</h3>
  <p>Email: {{cliente.email}}</p>
  <p>Telefone: {{cliente.telefone}}</p>
  <p>Data de Cadastro: {{cliente.dataCadastro}}</p>

  <h4>Animais:</h4>
  <ul>
    <li *ngFor="let animal of cliente.listaAnimal">
      {{animal.nome}} - {{animal.especie}} - {{animal.sexo}}
      ({{animal.dataNascimento}})
    </li>
  </ul>
  
  <h4>Adicionar Animal</h4>
  <form (submit)="adicionarAnimal(cliente)"><!-- Event Binding para Criação dos usuarios e adicionar na tabela -->
    <label >Nome do Animal:</label>
    <input type="text" [(ngModel)]="nomeAnimal" name="nomeAnimal" required /><!--Utilização do Two-way para armazenar  os valores-->

    <label >Data de Nascimento:</label>
    <input type="date" [(ngModel)]="dataNascimento" name="dataNascimento" required /><!--Utilização do Two-way para armazenar  os valores-->

    <label>Sexo:</label>
    <select name="sexo" [(ngModel)]="sexo" required><!--Utilização do Two-way para armazenar  os valores-->
      <option value="Macho">Macho</option>
      <option value="Femea">Femea</option>
    </select>

    <label>Especie:</label>
    <input type="text" [(ngModel)]="especie" name="especie" required/><!--Utilização do Two-way para armazenar  os valores-->

    <button type="submit">Adicionar Animais</button>
  </form>
</div>